*{
    margin: 0;
    padding: 0;
    font-family:'Poppins' sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222;
    
}

.blur {
    filter: blur(4px);
}


.card {
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg,#00feba,#5b545b);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-button button{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 16px;
    border: none;
    outline: none;

}

.search-button button:hover{
    background-color: rgba(240,240,240,.60);
}

.weather-icon {
    height: 150px;
    width: 150px;
    padding: 20px;
    margin: 5px;
}


.search-icon{
    display: flex;
    width: 25px;
    height: 25px;
   
}

.search>input{
    flex: 1;
    border: none;
    outline: none;
    width: auto;
    height: 32px;
    width: 20rem;
    border-radius: 32px;
    font-size: 1.2rem;
    text-indent: 0.5rem;



}

.other-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
    font-size: 30px;

}

.unblur {
    filter: blur(0);
}


